///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

$white: #fff;
$black: #000;

$scarpa-flow: #535359;
$rhino: #2c465a;
$orange-peel: #fea100;
$violet-red: #fe4c8d;
$mercury: #E1E1E1;

$orange-primary: $orange-peel;
$font-color: $rhino;
$grey-primary: #edf1f3;

$red-primary: $violet-red;
$grey-border: $mercury;
$background-footer: #373844;