/*  ==========================================================================
  #WRAPPER
  ==========================================================================  */
.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include mq(to768) {
    padding: 20px;
  }

  @include mq(from768to1200) {
    padding: 20px;
  }

  img {
    width: auto;

    @include mq(to768) {
      width: 160px;
    }
  }

  .btn-bordered {
    @include mq(to768) {
      display: none;
    }
  }
}
